
<% @posts.each do |post| %>
  <%= link_to post_path(post), class: 'post' do %>
    <div>
      <%if post.image.attached?%>
      <%=image_tag post.image, style:"width:100%; height:350px; object-fit:cover "%>
        <%else%>
        foto yok
    <%end%>
</div>
    <h1>
    
      <%= truncate(post.title, length: 20)%>
       
    </h1>

    
  <% end %>
  

<% end %>
  <%= link_to "http://www.facebook.com/" do %>
      <%= image_tag 'facebook.png' %>
  <% end %> 
  <%= link_to "http://www.twitter.com/" do %>
      <%= image_tag 'twitter.png' %>
  <% end %>
   <%= link_to "https://www.instagram.com" do %>
      <%= image_tag 'instagram.png' %>
  <% end %>
  <%= link_to "https://www.linkedin.com/" do %>
      <%= image_tag 'linkedin.png' %>
  <% end %>

           