
<% @posts.each do |post| %>
  <%= link_to post_path(post), class: 'post' do %>
    <img src="">
    <h1>
    
      <%= truncate(post.title, length: 20) %>
      
    </h1>
    
  <% end %>
  

<% end %>
  <%= link_to "http://www.facebook.com/" do %>
      <%= image_tag 'facebook.png' %>
  <% end %> 
  <%= link_to "http://www.twitter.com/" do %>
      <%= image_tag 'twitter.png' %>
  <% end %>
   <%= link_to "https://www.instagram.com" do %>
      <%= image_tag 'instagram.png' %>
  <% end %>
  <%= link_to "https://www.linkedin.com/" do %>
      <%= image_tag 'linkedin.png' %>
  <% end %>

           
