<div class="post-genis ortala">
  <img src="">
  <h1>
      <%= truncate(@post.title, length: 60) %>
  </h1>

  <p class="content">
    <%= @post.content %>
  </p>
  <p class="content">
    <% if @post.categories.present? %>
      <% @post.categories.each do |category| %>
        <%= link_to category.name, category_path(category) %>
      <% end %>
    <% else %>
      Bu yazının kategorisi bulunmamaktadır.
    <% end %>
  </p>

  <br>
  <br>

  <p class="rate">
  <%= form_for(@rate) do |f| %>
    <div  class="ui star rating" data-max-rating="5"> </div>
    <%= f.hidden_field :post_id, value: @post.id %><br>
    <%= f.hidden_field :rate,class:"rate_hidden_field" %><br>
  <% end %>
  <script>
    $('.ui.rating').rating();
    $(".ui.rating .icon").click(function(){
    setTimeout(function (){
      var x = $('.ui.rating').rating('get rating');
      $(".rate_hidden_field").attr("value",x);
      $("#new_rate").submit();
    }, 200);
     

      
    });
  </script>
  <%= @post.rates.average(:rate) %>

    <div class="center">
    <p class="content">
    <%= form_for @comment do |f| %>
      <div class="ui form">
        <div class="fields">
          <div class="field"> Ad Soyad: <%= f.text_field :name %><br></div>
          <div class="field"> E-posta:  <%= f.text_field :email %><br></div>
        </div>
        <div class="büyüt">
          <div class="field"> Mesajınız: <%= f.text_area :content %><br></div>
        </div>
      </div>
      <%= f.hidden_field :post_id, value: @post.id %><br>
      <%= f.submit 'Yorum Yap',class: 'button center' %><br>
    <% end %>
  </p>
    
    <div class="center">
 <%=@now.strftime("%Y-%m-%d")%>
  
  <% @comments.each do |comment| %>
      
    <b><%= comment.name.capitalize %></b><%= (comment.created_at.strftime("%Y-%m-%d"))  %>  <br> <%= comment.content %><br><br><br>
    
    
  <% end %>
</div>
  
  </div>

</div>
 
