<div class="post-genis ortala">
  <img src="">
  <h1>
      <%= truncate(@post.title, length: 60) %>
  </h1>
  <p class="content">
    <%= @post.content %>
  </p>
  <p class="content">
    <% if @post.categories.present? %>
      <% @post.categories.each do |category| %>
        <%= link_to category.name, category_path(category) %>
      <% end %>
    <% else %>
      Bu yazının kategorisi bulunmamaktadır.
    <% end %>
  </p>

  <br>
  <br>

  <% @comments.each do |comment| %>
    <b><%= comment.name %></b> <%= comment.content %><br>
  <% end %>

  <p class="content">
    <%= form_for @comment do |f| %>
      Ad Soyad: <%= f.text_field :name %><br>
      E-posta:  <%= f.text_field :email %><br>
      Mesajınız: <%= f.text_field :content %><br>
      <%= f.hidden_field :post_id, value: @post.id %><br>
      <%= f.submit 'Yorum Yap' %><br>
    <% end %>
  </p>
</div>

